# Auto detect text files and perform LF normalization
* text=auto

#
# The above will handle all files NOT found below
#
# These files are text and should be normalized (Convert CRLF => LF)

## DOCUMENTATION
*.md         text
LICENSE      text

## CONFIGS
.gitattributes text
.gitignore     text
