Vagrant.configure(2) do |config|
  config.vm.box = "ubuntu/xenial64"

  config.vm.provider "virtualbox" do |vb|
    vb.customize ["modifyvm", :id, "--name", "<name>"]
    vb.customize ["modifyvm", :id, "--description", "<desc>"]
    vb.customize ["modifyvm", :id, "--memory", "<memorysize in MB>"]
    vb.customize ["modifyvm", :id, "--cpus", "<number>"]
    vb.customize ["modifyvm", :id, "--cpuexecutioncap", "<1-100>"]
    vb.customize ["modifyvm", :id, "--ostype", "Linux"]
    vb.customize ["modifyvm", :id, "--pagefusion", "on"]
    vb.customize ["modifyvm", :id, "--acpi", "on"]
    vb.customize ["modifyvm", :id, "--ioapic", "on"]
    vb.customize ["modifyvm", :id, "--hpet", "on"]
    vb.customize ["modifyvm", :id, "--apic", "on"]
    vb.customize ["modifyvm", :id, "--x2apic", "on"]
    vb.customize ["modifyvm", :id, "--hwvirtex", "on"]
    vb.customize ["modifyvm", :id, "--nestedpaging", "on"]
    vb.customize ["modifyvm", :id, "--largepages", "on"]
    vb.customize ["modifyvm", :id, "--vtxvpid", "on"]
    vb.customize ["modifyvm", :id, "--vtxux", "on"]
    vb.customize ["modifyvm", :id, "--pae", "on"]
    vb.customize ["modifyvm", :id, "--cpu-profile", "host"]
    vb.customize ["modifyvm", :id, "--rtcuseutc", "on"]
    vb.customize ["modifyvm", :id, "--chipset", "piix3"]
  end

  config.vm.network "private_network", ip: "IPv4"

  config.vm.provision "shell", path: "./provision/system_upgrade.sh"
  config.vm.provision "shell", path: "./provision/setting_locale.sh", args: ["LANGUAGE_REGION", "LANGUAGE"]
  config.vm.provision "shell", path: "./provision/setting_timezone.sh", args: ["TIMEZONE"]
end
